
<nav class="navbar is-info">

  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="#" style="font-weight: bold;">
        NewsHunters
      </a>
      <span class="navbar-burger  burger" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </span>
    </div>

    <div id="navMenu" class="navbar-menu">
      <div class="navbar-end">
        <a href="#" class="navbar-item  is-active">General</a>
        <a routerLink="category/business" class="nav-link" class="navbar-item ">Business</a>
        <a href="#" class="navbar-item ">Technologies</a>
        <a href="#" class="navbar-item ">Health</a>
        <a href="#" class="navbar-item ">Entertainment</a>
        <a href="#" class="navbar-item ">Sports</a>
        <a href="#" class="navbar-item ">Breaking News</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            About-Me
          </a>

          <li class="dropdown">

            <ul class="dropdown-menu" role="menu">
              <li><a href="https://www.facebook.com/eaba2015 " target="_blank" title="My account on facebook"><i class="fa fa-facebook fa-lg"></i> Facebook</a></li>
              <li><a href="https://twitter.com/emabia1" target="_blank" title="My account on twitter"><i class="fa fa-twitter fa-lg"></i> Twitter</a></li>
              <li><a href="https://plus.google.com/id" target="_blank" title="My account on google-plus"><i class="fa fa-google-plus fa-lg" target="_blank"></i> Google plus</a></li>
              <li><a href="https://www.instagram.com/id/" target="_blank" title="My Account on instagram"><i class="fa fa-instagram fa-lg"></i> Instagram</a></li>
              <li><a href="https://www.linkedin.com/in/id/" title="My account on linkedin"><i class="fa fa-linkedin fa-lg"></i> Linkedin</a></li>

            </ul>
          </li>
        </div>

      </div>

    </div>

  </div>

</nav>